extend layout

block content
  h1  New Post

  form(action='/new' method='post')
    .mb-3
      label.form-label(for='author') Author's Name:
      input#author.form-control(type='text' name='author' required='' placeholder='Your Name')
    .mb-3 
    label.form-label(for='message') Message Text:
    textarea#message.form-control(type='text' name='message' required='' placeholder='Type something' rows='3')
    .mt-3
      button.btn.btn-primary(type='submit') Submit



