* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  background-color: brown;
  text-align: center;
  padding-top: 20px;
}

footer {
  background-color: brown;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 20px;
}